<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ejs</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Recette de cuisine</h1>
            <nav>
                <ul>
                    <li><a href="/">Listes de recettes</a></li>
                    <li><a href="/add-recep">Ajouter recettes</a></li>
                    <li><a href="/ingredients">Listes de recettes</a></li>
                </ul>
            </nav>
        </header>
        <main>
 