<form action="" id="addIngredientForm">
    <label for="newIngredient">
        Nom : ingredient
    </label>
    <input type="text" id="newIngredient">
    <input type="submit" value="Ajouter" class="btn-submit">
</form>
<script type="text/javascript" src="/js/add_Ingredients.js"></script>